//Style the whole page
.dropdown:hover .dropdown-content {
  display: block;
}

// Style the dropdown content links
.dropdown-content a:hover {
  background-color: #ddd;
}

// Style the home button
.home-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}